* {
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}




.container {
  float: left;
  width: 100%;
  padding-top: 50px;
  text-align:center;
  height: 100vh;

}


.title {
  margin: 0 auto;
  position: relative;
  font-weight: 700;
  font-style: normal;
  font-size: 40pt;
  color: black;
}


ul {
  margin-left: -2.5%;
  position: relative;
  font-size: 10pt;
  color: black;
}
li {
  display: inline;
  margin: 1%;  
}

a.nb:link {
  text-decoration: none;
  color: black;
}

a.nb:visited {
  text-decoration: none;
  color: black;
}

a.nb:hover {
  text-decoration: line-through;
  color: black;
}

a.nb:active {
  text-decoration: none;
  color: red;
}


@media screen and (max-width: 600px) {
  .inside {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 20pt;
  }
}

@media screen and (max-width: 600px) {
  .navigationbar {
    font-size: 10pt;
  }
}


.row {
  margin-top:1%;
  margin-left: 5%;
  margin-right:5%;
  margin-bottom: 0%;
  position: relative;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
 padding: 10px;
}


@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
  .content{
    width: 50%;
  }
}


@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .title {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .title {
    width: 100%;
  }
}



/*.weeks{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  height:100%;
  text-align: left;
  font-size: 11pt;
}*/

.grey {
  color: grey;
}

.weeks {
  margin-top:1%;
  margin-left: 5%;
  margin-right:5%;
  margin-bottom: 3%;
  position: relative;
  text-align: left;
}



.briefdes {
  margin-top:5%;
  margin-left: 20%;
  margin-right:20%;
  margin-bottom: 5%;
  position: relative;
  text-align: left;
  font-size: 12pt;
}



.bodytext {
  margin-top:1%;
  margin-left: 20%;
  margin-right:20%;
  margin-bottom: 3%;
  position: relative;
  text-align: left;
  font-size: 10pt;
  color: grey;
}

.black{
  color: black;
}


.footer{

  margin-top: 1%;
  font-weight: 400;
  font-style: normal;
  font-size: 10pt;
    margin-left: 5%;
  margin-right:5%;
  position: relative;
}




a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}


a:hover {
  color: black;
  font-weight: 600;
  font-style: normal;
  text-decoration: line-through;
}


a:active {
  color: red;
  font-weight: 600;
  font-style: normal;
}


